<script>
    if ('Navigator' == navigator.appName) document.forms[0].reset();
</script>
<div class="container-fluid">
    <div class="row reportes_show " id="reportes_menu">
        <div class="col mb-3" id="setting_city">
            <div class="card">
                <div class="card-header p-2 blue lighten-3">
                    <label>CITY</label>
                </div>
                <div class="card-body text-center">
                    <div class="btn btn-primary mx-4" select-option-menu key="boton_ciudades">show </div>
                </div>
            </div>
        </div>
        <div class="col mb-3" id="setting_user">
            <div class="card">
                <div class="card-header p-2 blue lighten-3">
                    <label>USER</label>
                </div>
                <div class="card-body text-center">
                    <div class="btn btn-primary mx-4" select-option-menu key="boton_usuarios">show </div>
                </div>
            </div>
        </div>
        <div class="col mb-3" id="setting_invoice">
            <div class="card">
                <div class="card-header p-2 blue lighten-3">
                    <label>BILLED TO</label>
                </div>
                <div class="card-body text-center">
                    <div class="btn btn-primary mx-4" select-option-menu key="boton_clientes">show </div>
                </div>
            </div>
        </div>
        <div class="col mb-3" id="setting_services">
            <div class="card">
                <div class="card-header p-2 blue lighten-3">
                    <label>THERAPY SERVICES</label>
                </div>
                <div class="card-body text-center">
                    <div class="btn btn-primary mx-4" select-option-menu key="boton_tipos_terapias">show </div>
                </div>
            </div>
        </div>
        <div class="col mb-3" id="setting_clinic">
            <div class="card">
                <div class="card-header p-2 blue lighten-3">
                    <label>CLINIC</label>
                </div>
                <div class="card-body text-center">
                    <div class="btn btn-primary mx-4" select-option-menu key="boton_clinicas">show </div>
                </div>
            </div>
        </div>
        <div class="col mb-3" id="setting_therapist">
            <div class="card">
                <div class="card-header p-2 blue lighten-3">
                    <label>THERAPIST</label>
                </div>
                <div class="card-body text-center">
                    <div class="btn btn-primary mx-4" select-option-menu key="boton_medico">show </div>
                </div>
            </div>
        </div>
        <div class="col mb-3" id="setting_province">
            <div class="card">
                <div class="card-header p-2 blue lighten-3">
                    <label>PROVINCE</label>
                </div>
                <div class="card-body text-center">
                    <div class="btn btn-primary mx-4" select-option-menu key="boton_provincia">show </div>
                </div>
            </div>
        </div>
        <div class="col mb-3" id="google_authentication">
            <div class="card">
                <div class="card-header p-2 blue lighten-3">
                    <label>AUTHENTICATE GOOGLE ACCOUNT</label>
                </div>
                <div class="card-body text-center">
                   <a href="/app/calendar_event.php" class="btn btn-primary mx-4" key-select-menu key="egresos">SHOW</a>
                </div>
            </div>
        </div>
        <div class="col mb-3" id="profile">
            <div class="card">
                <div class="card-header p-2 blue lighten-3">
                    <label>PROFILE</label>
                </div>
                <div class="card-body text-center">
                    <a class="btn btn-primary mx-4"onclick="login.logout();">Log out</a>
                </div>
            </div>
        </div>
        <div class="col mb-3" id="setting_fax">
            <div class="card">
                <div class="card-header p-2 blue lighten-3">
                    <label>Fax</label>
                </div>
                <div class="card-body text-center">
                    <div class="btn btn-primary mx-4" select-option-menu key="fax_details">show </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ACCION DEL BOTON DE CIUDADES-->
    <div class="row reportes_show d-none" id="boton_ciudades">
        <div class="col-12">
            <div class="card">
                <div class="card-header p-2 blue lighten-3">
                    <div class="row">
                        <div class="col-12">
                            <label>CITIES</label>
                            <div class="btn btn-danger btn-sm float-right" close_view_reportes><i
                                    class="fas fa-times"></i>
                            </div>
                            <div class="btn btn-primary btn-sm float-right" onclick='ciudades.add_new_city()'><i
                                    class="fas fa-plus"></i> ADD</div>
                        </div>
                    </div>
                </div>
                <div class="card-body table-responsive">
                    <table class="table table-striped table-sm table-bordered dataTable" id="ciudades_lista"
                        style="width:100%;">
                        <thead>
                            <td>#IDCITY</td>
                            <th>CITY</th>
                            <th>PROVINCE</th>
                            <th>CONTRY</th>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
     <!-- ACCION DEL BOTON DE FAX DEATILS-->
    <div class="row reportes_show d-none" id="fax_details">
        <div class="col-12">
            <div class="card">
                <div class="card-header p-2 blue lighten-3">
                    <div class="row">
                        <div class="col-12">
                            <label>SENT FAX</label>
                            <div class="btn btn-danger btn-sm float-right" close_view_reportes><i
                                    class="fas fa-times"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body table-responsive">
                    <table class="table table-striped table-sm table-bordered dataTable" id="t_fax_details"
                        style="width:100%;">
                        <thead>
                            <td>#IDFAX</td>
                            <th>Fax Number</th>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- ACCION DEL BOTON DE USUARIOS-->
    <div class="container-fluid d-none" id="boton_usuarios">
        <div class="row">
            <div class="col-2">

                <div class="card">
                    <div class="card-header p-2 blue lighten-3">
                        <label>FILTERS</label>
                    </div>
                    <div class="card-body">
                        <label for="clinica">Clinic</label>
                        <select class="browser-default custom-select mb-3" id="usuarios_option_sucursal"></select>
                    </div>
                </div>
            </div>
            <div class="col-10">
                <div class="card">
                    <div class="card-header p-2 blue lighten-3">
                        <div class="row">
                            <div class="col-12">

                                <div class="card-header p-2 blue lighten-3"><button type="button"
                                        class="btn btn-primary btn-sm float-right m-0" id="btn_new_user"
                                        onclick="usuarios.add_new_user();"><i class="fas fa-user-plus"></i>
                                        ADD</button>USERS</div>
                            </div>
                        </div>
                    </div>


                    <div class="card-body table-responsive">
                        <table class="table table-striped table-sm table-bordered dataTable" id="t_usuarios">
                            <thead>
                                <th>Name</th>
                                <th>E-Mail</th>
                                <th>User Name</th>
                                <th>Clinic</th>
                                <th>User Type</th>
                                <th></th>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="modal_add_new_user" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog mt-5" role="document">
                <div class="modal-content">
                    <form id="form_add_users">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">NEW USER</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="col-12 py-2">
                                <label for="alta_cita_paciente">Name and Last Name</label>
                                <input type="text" class="form-control" placeholder="Name and Last name"
                                    aria-label="Name and Last Name" aria-describedby="button-addon2"
                                    id="modal_new_user_name" name="modal_new_user_name" autocomplete="off" required>
                            </div>
                            <div class="col-12 py-2">
                                <label for="modal_new_user_email">E-Mail</label>
                                <input type="email" class="form-control" placeholder="E-Mail" aria-label="E-Mail"
                                    aria-describedby="button-addon2" id="modal_new_user_email"
                                    name="modal_new_user_email" autocomplete="off" required>
                                <div class="invalid-feedback">
                                    this email has already been registered.
                                </div>
                            </div>
                            <div class="col-12 py-2 TherapistMobile" style = "display: none;">
                                <label for="modal_new_user_mobile">Mobile Number</label>
                                <input type="text" class="form-control" placeholder="Mobile Number" aria-label="Mobile Number" aria-describedby="button-addon2" id="modal_new_user_mobile" name="modal_new_user_mobile" autocomplete="off" maxlength="12">
                                <div class="invalid-feedback">
                                    this mobile number has already been registered.
                                </div>
                            </div>
                            <div class="col-12 py-2">
                                <label for="alta_cita_paciente">User Name</label>
                                <input type="text" class="form-control" placeholder="User Name" aria-label="User Name"
                                    aria-describedby="button-addon2" id="modal_new_user_username"
                                    name="modal_new_user_username" autocomplete="off" required>
                            </div>
                            <div class="col-12 py-2">
                                <label for="alta_cita_paciente">Passowrd</label>
                                <input type="password" class="form-control" placeholder="Password" aria-label="Password"
                                    aria-describedby="button-addon2" id="modal_new_user_password"
                                    name="modal_new_user_password" autocomplete="off" required>
                            </div>
                            <div class="col-12 py-2">
                                <label for="alta_cita_paciente">User Type</label>
                                <select class="browser-default custom-select mb-3" placeholder="type user"
                                    id="modal_new_typeuser" name="modal_new_typeuser" required></select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary"
                                onclick="usuarios.cancel_new_user()">Cancel</button>
                            <button type="submit" class="btn btn-primary">Save User</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal" id="modal_editar_user" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog mt-5" role="document">
                <div class="modal-content">
                    <form id="form_editar_users">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">EDIT USER</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="col-12 py-2">
                                <label for="alta_cita_paciente" class="text-color">Name and Last Name</label>
                                <input type="text" class="form-control" placeholder="Name and Last Name"
                                    aria-label="Name and Last Name" aria-describedby="button-addon2"
                                    id="modal_edit_user_name" name="modal_edit_user_name" id="modal_edit_user_name"
                                    autocomplete="off" required>
                            </div>
                            <div class="col-12 py-2">
                                <label for="modal_edit_user_email" class="text-color">E-Mail</label>
                                <input type="email" class="form-control" placeholder="E-Mail" aria-label="E-Mail"
                                    aria-describedby="button-addon2" id="modal_edit_user_email"
                                    name="modal_edit_user_email" autocomplete="off" required>
                                <div class="invalid-feedback">
                                    this email has already been registered.
                                </div>
                            </div>
                             <!-- Add Code by swadha at 27-jan-2020 -->
                             <div class="col-12 py-2 TherapistEditMobile" style = "display: none;">
                                <label for="modal_edit_user_mobile" class="text-color">Mobile Number</label>
                                <input type="text" class="form-control" placeholder="Mobile Number" aria-label="Mobile Number" aria-describedby="button-addon2" id="modal_edit_user_mobile" name="modal_edit_user_mobile" autocomplete="off" maxlength="12" required>
                                <div class="invalid-feedback">
                                    this mobile number has already been registered.
                                </div>
                            </div>
                            <div class="col-12 py-2">
                                <label for="alta_cita_paciente" class="text-color">User Name</label>
                                <input type="text" class="form-control" placeholder="User Name" aria-label="User Name"
                                    aria-describedby="button-addon2" id="modal_edit_user_username"
                                    name="modal_edit_user_username" autocomplete="off" required>
                            </div>
                            <div class="col-12 py-2">
                                <label for="alta_cita_paciente" class="text-color">Password</label>
                                <input type="password" class="form-control" placeholder="Password" aria-label="Password"
                                    aria-describedby="button-addon2" id="modal_edit_user_password"
                                    name="modal_edit_user_password" autocomplete="off" required>
                            </div>
                            <div class="col-12 py-2">
                                <label for="alta_cita_paciente" class="text-color">User Type</label>
                                <select class="browser-default custom-select mb-3" placeholder="type user"
                                    id="modal_edit_typeuser" name="modal_edit_typeuser" required></select>

                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" data-dismiss="modal" class="btn btn-secondary">Cancel</button>
                            <button type="submit" class="btn btn-primary">Save User</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- FIN DEL BOTON DE USUARIOS-->
    <!-- ACCION DEL BOTON DE CLIENTES-->
    <div class="container-fluid d-none" id="boton_clientes">
        <div class="row">
            <div class="col-2" style="display: none;">
                <div class="card">
                    <div class="card-header p-2 blue lighten-3">
                        <label>FILTERS</label>
                    </div>
                    <div class="card-body">
                        <label for="clinica">CLINIC</label>
                        <select class="browser-default custom-select mb-3" id="invoice_to_option_sucursal"></select>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card">
                    <div class="card-header p-2 blue lighten-3"><button type="button"
                            class="btn btn-primary btn-sm float-right m-0" onclick="pacientes.alta_cliente();"><i
                                class="fas fa-user-plus"></i> ADD</button>INVOICE TO</div>
                    <div class="card-body table-responsive">
                        <table class="table table-striped table-sm table-bordered dataTable" id="t_cliente">
                            <thead>
                                <th>Name</th>
                                <th>Birthdate</th>
                                <th>Address</th>
                                <th>City</th>
                                <th>E-Mail</th>
                                <th>Registration Date</th>
                                <th></th>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- FIN DEL BOTON DE CLIENTES-->

    <!-- ACCION DEL BOTON DE TERAPIAS-->
    <div class="container-fluid d-none" id="boton_tipos_terapias">
        <div class="row">
            <!-- <div class="col-2">
                <div class="card">
                    <div class="card-header p-2 blue lighten-3">
                        <label>FILTERS</label>
                    </div>
                    <div class="card-body">
                        <label for="clinica">CLINICS</label>
                        <select class="browser-default custom-select mb-3" id="usuarios_option_sucursal"></select>
                    </div>
                </div>
            </div> -->
            <div class="col-12">
                <div class="card">
                    <div class="card-header p-2 blue lighten-3"><button type="button"
                            class="btn btn-primary btn-sm float-right m-0" onclick="servicios.add_new_service();"><i
                                class="fas fa-user-plus"></i> ADD</button>THERAPY SERVICES</div>
                    <div class="card-body table-responsive">
                        <table class="table table-striped table-sm table-bordered dataTable" id="t_servicios">
                            <thead>
                                <th>ID SERVICE</th>
                                <th>SERVICE</th>
                                <th>AMOUNT</th>
                                <th>TIME</th>
                                <th>TAX</th>
                                <th>USER</th>
                                <th>THERAPIST</th>
                                <th></th>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- FIN DEL BOTON DE TERAPIAS-->
    <!-- ACCION DEL BOTON DE CLINICAS-->
    <div class="container-fluid d-none" id="boton_tipos_terapias">
        <div class="row">
            <div class="col-2">
                <div class="card">
                    <div class="card-header p-2 blue lighten-3">
                        <label>FILTERS</label>
                    </div>
                    <div class="card-body">
                        <label for="clinica">CLINICS</label>
                        <select class="browser-default custom-select mb-3" id="usuarios_option_sucursal"></select>
                    </div>
                </div>
            </div>
            <div class="col-10">
                <div class="card">
                    <div class="card-header p-2 blue lighten-3"><button type="button"
                            class="btn btn-primary btn-sm float-right m-0" onclick="usuarios.add_new_user();"><i
                                class="fas fa-user-plus"></i> ADD</button>USERS</div>
                    <div class="card-body table-responsive">
                        <table class="table table-striped table-sm table-bordered dataTable" id="t_usuarios">
                            <thead>
                                <th>#IDCLINICA</th>
                                <th>NAME</th>
                                <th>CITY</th>


                                <th></th>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- FIN DEL BOTON DE CLINICAS-->
    <div class="container-fluid d-none" id="boton_clinicas">
        <div class="row">
            <div class="col-2" id="filterClinic">
                <div class="card">
                    <div class="card-header p-2 blue lighten-3">
                        <label>FILTER</label>
                    </div>
                    <div class="card-body">
                        <label for="clinica">CLINIC</label>
                        <select class="browser-default custom-select mb-3" id="admin_clini_select_city"></select>
                    </div>
                </div>
            </div>
            <div class="col-10">
                <div class="card">
                    <div class="card-header p-2 blue lighten-3"><button type="button"
                            class="btn btn-primary btn-sm float-right m-0" onclick="clinicas.add_new_clinica();"><i
                                class="fas fa-user-plus"></i> NEW</button>CLINIC</div>
                    <div class="card-body table-responsive">
                        <table class="table table-striped table-sm table-bordered dataTable" id="t_clinicas">
                            <thead>
                                <th>ID_Clinic</th>
                                <th>Clini_Name</th>
                                <th>City</th>
                                <th></th>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid d-none" id="boton_provincia">
        <div class="row">
            <div class="col-10">
                <div class="card">
                    <div class="card-header p-2 blue lighten-3"><button type="button"
                            class="btn btn-primary btn-sm float-right m-0" onclick="provincia.add_new_provincia();"><i
                                class="fas fa-user-plus"></i> ADD</button>PROVINCE</div>
                    <div class="card-body table-responsive">
                        <table class="table table-striped table-sm table-bordered dataTable" id="t_provincia">
                            <thead>
                                <th>ID Province</th>
                                <th>Name Province</th>
                                <th>Country</th>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- FIN DEL BOTON DE CLINICAS-->
</div>






<!-- ACCION BOTON THERAPIST -->

<div class="container-fluid d-none" id="boton_medico">
    <div class="row">
        <div id="filtros" class="col-2">
            <div class="card">
                <div class="card-header p-2 blue lighten-3">
                    <label>FILTERS</label>
                </div>
                <div class="card-body">
                    <label for="clinica">CLINIC</label>
                    <select class="browser-default custom-select mb-3" id="select_sucursales"></select>
                </div>
            </div>
        </div>
        <div class="col-10">
            <div class="card">
                <div class="card-header p-2 blue lighten-3"><button type="button"
                        class="btn btn-primary btn-sm float-right m-0" onclick="medicos.modal_new_medico()"
                        id="btn_new_medico"><i class="fas fa-user-plus"></i> ADD</button>THERAPIST</div>
                <div class="card-body table-responsive">
                    <table class="table table-striped table-sm table-bordered dataTable" id="t_table_medicos">
                        <thead>
                            <td>#</td>
                            <th>Name</th>
                            <th>Bussines</th>
                            <th>College and Registration Number</th>
                            <th>From</th>
                            <th>To</th>
                            <th></th>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- FIN BOTON THERAPIST -->



</div>
<!-- Codigo agregado 12/10/2019 -->

<!-- codigo agregado el 21/10/2019 -->

<!-- AQUI ES PARA LAS ACCIONES DEL BOTON ADD EN EL MODAL (SUBPANTALLA DEL FORMULARIO)-->
<!-- MODAL AGREGADO PARA DAR DE ALTA UNA CIUDAD -->
<div class='modal fade' id='modal_new_city' tabindex='-1' role='dialog' aria-labelledby='myModalLabel'
    aria-hidden='true'>
    <div class='modal-dialog modal-notify modal-lg' role='document'>
        <!--Content-->
        <form id='modal_form_new_city'>
            <div class='modal-content'>
                <!--Header-->
                <div class='modal-header blue darken-3'>
                    <p class='heading lead'>ADD CITY</p>
                    <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
                        <span aria-hidden='true' class='white-text'>&times;</span>
                    </button>
                </div>
                <!--Body-->
                <div class='modal-body'>
                    <div class="row">
                        <div class="col-12">
                            <label>City</label>
                            <input type="text" id="add_new_city_name" name="add_new_city_name" class="form-control mb-4"
                                placeholder="City">
                        </div>

                        <div class="col-6">
                            <label>Country</label>
                            <select class='form-control' id="add_new_city_country"></select>
                        </div>
                        <div class="col-6">
                            <label>Province</label>
                            <select class='form-control' id="add_new_city_province"></select>
                        </div>
                    </div>

                </div>
                <!--Footer-->
                <div class='modal-footer'>
                    <button type='button' class='btn btn-secondary' data-dismiss='modal'>Close</button>
                    <button type='submit' class='btn btn-primary' disabled="disabled">Save City</button>
                </div>
            </div>
        </form>
        <!--/.Content-->
    </div>
</div>
<!-- END MODAL AGREGADO PARA DAR DE ALTA UNA CIUDAD -->
<!-- MODAL AGREGADO PARA DAR DE ALTA UNA CLINICA -->
<div class='modal fade' id='modal_new_clinic' tabindex='-1' role='dialog' aria-labelledby='myModalLabel'
    aria-hidden='true'>
    <div class='modal-dialog modal-notify modal-lg' role='document'>
        <!--Content-->
        <form id='modal_form_new_clinic'>
            <div class='modal-content'>
                <!--Header-->
                <div class='modal-header blue darken-3'>
                    <p class='heading lead'>ADD CLINIC</p>
                    <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
                        <span aria-hidden='true' class='white-text'>&times;</span>
                    </button>
                </div>
                <!--Body-->
                <div class='modal-body'>
                    <div class="row">
                        <div class="col-12">
                            <label>Clinic</label>
                            <input type="text" id="add_new_clinic_name" name="add_new_clinic_name"
                                class="form-control mb-4" placeholder="Name of clinic">
                        </div>
                        <div class="col-12">
                            <label>City</label>
                            <input type="text" id="add_new_city_clinic" name="add_new_city_clinic"
                                class="form-control mb-4" placeholder="City">
                        </div>
                    </div>
                </div>
                <!--Footer-->
                <div class='modal-footer'>
                    <button type='button' class='btn btn-secondary' data-dismiss='modal'>Close</button>
                    <button type='submit' class='btn btn-primary' disabled="disabled">Save Clinic</button>
                </div>
            </div>
        </form>
        <!--/.Content-->
    </div>
</div>
<div class='modal fade' id='modal_editar_clinic' tabindex='-1' role='dialog' aria-labelledby='myModalLabel'
    aria-hidden='true'>
    <div class='modal-dialog modal-notify modal-lg' role='document'>
        <!--Content-->
        <form id='modal_form_editar_clinic'>
            <div class='modal-content'>
                <!--Header-->
                <div class='modal-header blue darken-3'>
                    <p class='heading lead'>EDIT CLINIC</p>
                    <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
                        <span aria-hidden='true' class='white-text'>&times;</span>
                    </button>
                </div>
                <!--Body-->
                <div class='modal-body'>
                    <div class="row">
                        <div class="col-12">
                            <label>clinic</label>
                            <input type="text" id="add_editar_clinic_name" name="add_editar_clinic_name"
                                class="form-control mb-4" placeholder="Name of clinic">
                        </div>
                        <div class="col-12">
                            <label>City</label>
                            <input type="text" id="edit_city_clinic" name="edit_city_clinic" class="form-control mb-4"
                                placeholder="City" autocomplete="off">
                        </div>
                    </div>
                </div>
                <!--Footer-->
                <div class='modal-footer'>
                    <button type='button' class='btn btn-secondary' data-dismiss='modal'>Close</button>
                    <button type='submit' class='btn btn-primary' disabled="disabled">Save Clinic</button>
                </div>
            </div>
        </form>
        <!--/.Content-->
    </div>
</div>
<!-- END MODAL AGREGADO PARA DAR DE ALTA UNA CLINICA -->
<!-- codigo agregado FIN  el 21/10/2019 -->

<div class='modal fade' id='modal_new_medico' tabindex='-1' role='dialog' aria-labelledby='myModalLabel'
    aria-hidden='true'>
    <div class='modal-dialog modal-notify modal-lg' role='document'>
        <!--Content-->
        <form id='modal_form_new_medico'>
            <div class='modal-content'>
                <!--Header-->
                <div class='modal-header blue darken-3'>
                    <p class='heading lead'>ADD THERAPIST</p>
                    <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
                        <span aria-hidden='true' class='white-text'>&times;</span>
                    </button>
                </div>
                <!--Body-->
                <div class='modal-body'>
                    <div class="row">
                        <div class="col-12">
                            <label>Name</label>
                            <input type="text" id="form_modal_medico_name" name="form_modal_medico_name"
                                class="form-control mb-4" placeholder="Name">
                        </div>
                        <div class="col-6">
                            <label>Bussines Name</label>
                            <input type="text" id="form_modal_medico_bussines_name"
                                name="form_modal_medico_bussines_name" class="form-control mb-4"
                                placeholder="Bussines Name">
                        </div>
                        <div class="col-6">
                            <label>College and Registration Number</label>
                            <input type="text" id="form_modal_medico_trecord" name="form_modal_medico_trecord"
                                class="form-control mb-4" placeholder="College and Registration Number">
                            </select>
                        </div>
                        <div class="col-6">
                            <label>Therapist User Name</label>
                            <input type="text" id="form_modal_medico_usuario" name="form_modal_medico_usuario"
                                class="form-control mb-4" placeholder="Therapist User Name" autocomplete="off">
                            </select>
                        </div>
                        <div class="col-6">
                            <label>GST/Business number</label>
                            <input type="text" id="form_modal_medico_serie" name="form_modal_medico_serie"
                                class="form-control mb-4" placeholder="Clain Number">
                            </select>
                        </div>
                        <div class="col-6 row">
                            <div class="col-12">
                                <label>Invoice Number</label>
                                <input type="number" id="form_modal_medico_folio" name="form_modal_medico_folio"
                                    class="form-control mb-4" placeholder="Invoice Number">
                                </select>
                            </div>
                            <div class="col-12">
                                <label>Mobile Number</label>
                                <input type="text" id="form_modal_mobile_number" name="form_modal_mobile_number"
                                    class="form-control mb-4" placeholder="Mobile Number"  maxlength="12" required="required">
                                </select>
                                 <div class="invalid-feedback">
                                    this mobile number has already been registered.
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group form-check">
                                    <input type="checkbox" checked class="form-check-input" id="defaultschedule">
                                    <label class="form-check-label" for="defaultschedule">Default schedule (8 - 22
                                        hours)</label>
                                </div>
                            </div>
                            <div id="selectSchedule" class="row">
                                <div class="col-6">
                                    <p class="m-0" style="text-align: center;">From</p>
                                </div>
                                <div class="col-6">
                                    <p class="m-0" style="text-align: center;">To</p>
                                </div>
                                <div class="col-6" style="text-align: center;">
                                    <input type="time" name="checkin" id="checkin" step="3600" min="08:00" max="21:00"
                                        value="08:00:00" required></input>
                                </div>
                                <div class="col-6" style="text-align: center;">
                                    <input type="time" name="checkout" id="checkout" step="3600" min="09:00" max="22:00"
                                        value="22:00:00" required></input>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <label>Image</label>
                            <div class="btn btn-default btn-sm float-right" key-new-picture>new Picture</div>
                            <input type="file" class="d-none" id="new_pickture_input" name="new_pickture_input"
                                accept="image/*"><br>

                            <img id="form_modal_medico_image" name="form_medico_image" class="img-thumbnail"
                                width="200px" src="../files/personal_logo/default.png">
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="terms_conditions">Terms and Conditions</label>
                                <div id="terms_conditions"></div>
                            </div>
                        </div>
                    </div>

                </div>
                <!--Footer-->
                <div class='modal-footer'>
                    <button type='button' class='btn btn-secondary' data-dismiss='modal'>Close</button>
                    <button type='submit' class='btn btn-primary' disabled="disabled">Save Therapist</button>
                </div>
            </div>
        </form>
        <!--/.Content-->
    </div>
</div>
<div class='modal fade' id='modal_edit_medico' tabindex='-1' role='dialog' aria-labelledby='myModalLabel'
    aria-hidden='true'>
    <div class='modal-dialog modal-notify modal-lg' role='document'>
        <!--Content-->
        <form id='modal_form_edit_medico'>
            <div class='modal-content'>
                <!--Header-->
                <div class='modal-header blue darken-3'>
                    <p class='heading lead'>EDIT THERAPIST</p>
                    <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
                        <span aria-hidden='true' class='white-text'>&times;</span>
                    </button>
                </div>
                <!--Body-->
                <div class='modal-body'>
                    <div class="row">
                        <div class="col-12">
                            <label class="text-color" >Name</label>
                            <input type="text" id="form_modal_edit_medico_name" name="form_modal_edit_medico_name"
                                class="form-control mb-4" placeholder="Name">
                        </div>
                        <div class="col-6">
                            <label class="text-color">Bussines Name</label>
                            <input type="text" id="form_modal_edit_medico_bussines_name"
                                name="form_modal_edit_medico_bussines_name" class="form-control mb-4"
                                placeholder="Bussines name" required="required">
                        </div>
                        <div class="col-6">
                            <label class="text-color">College and Registration Number</label>
                            <input type="text" id="form_modal_edit_medico_trecord" name="form_modal_edit_medico_trecord"
                                class="form-control mb-4" placeholder="College and Registration Number"
                                required="required">
                            </select>
                        </div>
                        <div class="col-6">
                            <label class="text-color">Therapist User Name</label>
                            <input type="text" id="form_modal_edit_medico_usuario" name="form_modal_edit_medico_usuario"
                                class="form-control mb-4" placeholder="Therapist User Name" required="required">
                            </select>
                        </div>
                        <div class="col-6">
                            <label class="text-color">GST/Business number</label>
                            <input type="text" id="form_modal_edit_medico_serie" name="form_modal_edit_medico_serie"
                                class="form-control mb-4" placeholder="Clain Number" required="required">
                            </select>
                        </div>
                        <div class="col-6 row">
                            <div class="col-12">
                                <label class="text-color">Invoice Number</label>
                                <input type="number" id="form_modal_edit_medico_folio"
                                    name="form_modal_edit_medico_folio" class="form-control mb-4"
                                    placeholder="Invoice Number" required="required">
                                </select>
                            </div>
                             <div class="col-12">
                                <label class="text-color">Mobile Number</label>
                                <input type="number" id="form_modal_edit_mobile_number"
                                    name="form_modal_edit_mobile_number" class="form-control mb-4"
                                    placeholder="Mobile Number" required="required" pattern="/^-?\d+\.?\d*$/" maxlength="10" onKeyPress="javascript: if(this.value.length==10) return false;">
                                </select>
                                <div class="invalid-feedback">
                                    this mobile number has already been registered.
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group form-check">
                                    <input type="checkbox" class="form-check-input" id="defaultscheduleEdit">
                                    <label class="form-check-label text-color" for="defaultscheduleEdit">Default schedule (8 - 22
                                        hours)</label>
                                </div>
                            </div>
                            <div id="selectScheduleEdit" class="row">
                                <div class="col-6">
                                    <p class="m-0" style="text-align: center;">From</p>
                                </div>
                                <div class="col-6">
                                    <p class="m-0" style="text-align: center;">To</p>
                                </div>
                                <div class="col-6" style="text-align: center;">
                                    <input type="time" name="checkinEdit" id="checkinEdit" step="3600" min="08:00"
                                        max="21:00" value="08:00:00" required></input>
                                </div>
                                <div class="col-6" style="text-align: center;">
                                    <input type="time" name="checkoutEdit" id="checkoutEdit" step="3600" min="09:00"
                                        max="22:00" value="22:00:00" required></input>
                                </div>
                            </div>

                        </div>
                        
                        <div class="col-6">
                            <label class="text-color">Image</label>
                            <div class="btn btn-default btn-sm float-right" key-change-picture>Change Picture</div>
                            <input type="file" class="d-none" id="change_pickture_input" name="change_pickture_input"
                                accept="image/*"><br>

                            <img id="form_modal_edit_medico_image" name="form_edit_medico_image" class="img-thumbnail"
                                width="200px" src="">
                        </div>

                        <div class="col mt-5">
                            <div class="form-group">
                                <label for="edit_terms_conditions" class="text-color">Copy and paste your consent form word text</label>
                                <div id="edit_terms_conditions"></div>
                            </div>
                        </div>
                        <br>
                        <!-- <div class="col">
                            <div class="form-group">
                                <label for="editable_pdf" class="text-color">Upload editable PDF consent and intake form</label>
                                <input type="file" name="editable_pdf" value="" class="form-control">
                            </div>
                        </div> -->
                    </div>

                </div>
                <!--Footer-->
                <div class='modal-footer'>
                    <button type='button' class='btn btn-secondary' data-dismiss='modal'>Close</button>
                    <button type='submit' class='btn btn-primary'>Save Therapist</button>
                </div>
            </div>
        </form>
        <!--/.Content-->
    </div>
</div>



<!-- CUIDADO LA FUNCION PRINCIPAL DEL JAVA SCRIP ES EN REPORTS -->

<div class="modal" id="modal_add_cliente" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog mt-5" role="document">
        <div class="modal-content">
            <form id="form_add_cliente" class="needs-validation" novalidate>
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">NEW CLIENT</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-12 py-2">
                        <label for="alta_cita_paciente">Name</label>
                        <input type="text" class="form-control" placeholder="Name" aria-label="Name"
                            aria-describedby="button-addon2" id="modal_new_client_name" autocomplete="off" required>
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </div>
                    <div class="col-12 py-2">
                        <label for="alta_cita_paciente">Birthdate</label>
                        <input type="date" class="form-control" placeholder="Birthdate" aria-label="Birthdate"
                            aria-describedby="button-addon2" id="modal_new_client_date" autocomplete="off" required>
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </div>
                    <div class="col-12 py-2">
                        <label for="alta_cita_paciente">Address</label>
                        <input type="text" class="form-control" placeholder="Address" aria-label="Address"
                            aria-describedby="button-addon2" id="modal_new_client_address" autocomplete="off" required>
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </div>
                    <div class="col-12 py-2">
                        <label for="alta_cita_paciente">City</label>
                        <input type="text" class="form-control" id="modal_new_client_city" name="modal_new_client_city"
                            placeholder="City Name" autocomplete="off" required />
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </div>
                    <div class="col-12 py-2">
                        <label for="alta_cita_paciente">Phone Number</label>
                        <input type="text" class="form-control" placeholder="Phone Number" aria-label="Phone Number"
                            aria-describedby="button-addon2" id="modal_new_client_phone" autocomplete="off" required>
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </div>
                    <div class="col-12 py-2">
                        <label for="alta_cita_paciente">E-mail</label>
                        <input type="email" class="form-control" placeholder="E-mail" aria-label="E-mail"
                            aria-describedby="button-addon2" id="modal_new_client_email" autocomplete="off" required>
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" class="close" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Save Patient</button>
                </div>

            </form>
        </div>
    </div>
</div>
<div class="modal" id="modal_edit_cliente" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog mt-5" role="document">
        <div class="modal-content">
            <form id="form_edit_cliente" class="needs-validation" novalidate>
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">EDIT CLIENT</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-12 py-2">
                        <label for="editar_cita_paciente">Name</label>
                        <input type="text" class="form-control" placeholder="Name" aria-label="Name"
                            aria-describedby="button-addon2" id="modal_edit_client_name" name="modal_edit_client_name"
                            autocomplete="off" required>
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </div>
                    <div class="col-12 py-2">
                        <label for="editar_cita_paciente">Birthdate</label>
                        <input type="date" class="form-control" placeholder="Birthdatey" aria-label="Birthdate"
                            aria-describedby="button-addon2" id="modal_edit_client_date" name="modal_edit_client_date"
                            autocomplete="off" required>
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </div>
                    <div class="col-12 py-2">
                        <label for="editar_cita_paciente">Address</label>
                        <input type="text" class="form-control" placeholder="Address" aria-label="Address"
                            aria-describedby="button-addon2" id="modal_edit_client_address"
                            name="modal_edit_client_address" autocomplete="off" required>
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </div>
                    <div class="col-12 py-2">
                        <label for="editar_cita_paciente">City</label>
                        <input type="text" class="form-control" id="modal_edit_client_city"
                            name="modal_edit_client_city" placeholder="City Name" autocomplete="off" required />
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </div>
                    <div class="col-12 py-2">
                        <label for="editar_cita_paciente">Phone Number</label>
                        <input type="text" class="form-control" placeholder="Phone Number" aria-label="Phone Number"
                            aria-describedby="button-addon2" id="modal_edit_client_phone" name="modal_edit_client_phone"
                            autocomplete="off" required>
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </div>
                    <div class="col-12 py-2">
                        <label for="editar_cita_paciente">E-mail</label>
                        <input type="email" class="form-control" placeholder="E-mail" aria-label="E-mail"
                            aria-describedby="button-addon2" id="modal_edit_client_email" name="modal_edit_client_email"
                            autocomplete="off" required>
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" class="close" data-dismiss="modal">
                        Cancel</button>
                    <button type="submit" class="btn btn-primary">Save Patient</button>
                </div>

            </form>
        </div>
    </div>
</div>






<div class="modal" id="modal_add_new_service" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog mt-5" role="document">
        <div class="modal-content">
            <form id="form_add_service">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">NEW SERVICE</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-12 py-2">
                        <label for="alta_cita_paciente">Service</label>
                        <input type="text" class="form-control" placeholder="Service" aria-label="Service"
                            aria-describedby="button-addon2" id="modal_new_aptient_service" autocomplete="off" required>
                    </div>
                    <div class="col-12 py-2">
                        <label for="alta_cita_paciente">Amount</label>
                        <input type="text" class="form-control" placeholder="Amount" aria-label="Amount"
                            aria-describedby="button-addon2" id="modal_new_aptient_amount" autocomplete="off" required>
                    </div>
                    <div class="col-12 py-2">
                        <label for="alta_cita_paciente">Time</label>
                        <input type="number" class="form-control" placeholder="Time" aria-label="Time"
                            aria-describedby="button-addon2" id="modal_new_aptient_time" autocomplete="off" required>
                    </div>
                    <div class="col-12 py-2">
                        <label for="alta_cita_paciente">Tax</label>
                        <input type="text" class="form-control" placeholder="Tax" aria-label="Tax"
                            aria-describedby="button-addon2" id="modal_new_aptient_tax" autocomplete="off" required>
                    </div>
                    <div class="col-12 py-2">
                        <label for="new_service_user">User</label>
                        <input type="text" class="form-control" placeholder="User" aria-label="User"
                            aria-describedby="button-addon2" id="modal_new_aptient_user" autocomplete="off" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" class="close" data-dismiss="modal">
                        Cancel</button>
                    <button type="submit" class="btn btn-primary">Save Service</button>
                </div>

            </form>
        </div>
    </div>
</div>


<div class="modal" id="modal_editar_service" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog mt-5" role="document">
        <div class="modal-content">
            <form id="form_editar_service">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">EDIT SERVICE</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-12 py-2">
                        <label for="form_editar_service" class="text-color">Name Service</label>
                        <input type="text" class="form-control" placeholder="Name Service" aria-label="Name Service"
                            aria-describedby="button-addon2" id="modal_edit_service" name="modal_edit_service"
                            autocomplete="off" required>
                    </div>
                    <div class="col-12 py-2">
                        <label for="form_editar_service" class="text-color">Amount</label>
                        <input type="text" class="form-control" placeholder="Amount" aria-label="Amount"
                            aria-describedby="button-addon2" id="modal_edit_amount" name="modal_edit_amount"
                            autocomplete="off" required>
                    </div>
                    <div class="col-12 py-2">
                        <label for="alta_cita_paciente" class="text-color">Time</label>
                        <input type="number" class="form-control" placeholder="Time" aria-label="Time"
                            aria-describedby="button-addon2" id="modal_edit_time" name="modal_edit_time"
                            autocomplete="off" required>
                    </div>
                    <div class="col-12 py-2">
                        <label for="alta_cita_paciente" class="text-color">Tax</label>
                        <input type="text" class="form-control" placeholder="Tax" aria-label="Tax"
                            aria-describedby="button-addon2" id="modal_edit_tax" name="modal_edit_tax"
                            autocomplete="off" required>
                    </div>
                    <div class="col-12 py-2">
                        <label for="alta_cita_paciente" class="text-color">User</label>
                        <input type="text" class="form-control" placeholder="User" aria-label="User"
                            aria-describedby="button-addon2" id="modal_edit_user" name="modal_edit_user"
                            autocomplete="off" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-secondary">Cancel</button>
                    <button type="submit" class="btn btn-primary">Save Service</button>
                </div>

            </form>
        </div>
    </div>
</div>




<div class="modal" id="modal_add_new_provincia" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog mt-5" role="document">
        <div class="modal-content">
            <form id="form_add_province">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">NEW PROVINCE</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-12 py-2">
                        <label for="alta_cita_paciente">Province</label>
                        <input type="text" class="form-control" placeholder="Province" aria-label="Province"
                            aria-describedby="button-addon2" id="modal_new_aptient_province" autocomplete="off"
                            required>
                    </div>
                    <div class="col-12 py-2">
                        <label for="alta_cita_paciente">Country</label>
                        <select class='form-control' id="modal_new_aptient_country"></select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" class="close" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Save Service</button>
                </div>

            </form>
        </div>
    </div>
</div>



<script>
    reports.ini();
</script>

<script type="text/javascript">
     $(document).ready(function(){
        /* Add Code 29_jan_20_swadha*/
         $("#modal_add_new_user").on('shown.bs.modal', function(){
        selectEditedText      = $("#modal_new_typeuser").children("option:selected").text();
        if(selectEditedText == 'THERAPIST')
        {
           $("#modal_new_user_mobile").val('');
            $("#modal_new_user_mobile").prop('required',true);
            $(".TherapistMobile").show();
        }
        else
        {
            $("#modal_new_user_mobile").prop('required',false);
            $("#modal_new_user_mobile").val('');
            $(".TherapistMobile").hide(); 
        }
    

    $("#modal_new_typeuser").change('on', function(){
        selectedValue = $(this).children("option:selected").val();
        selectedText = $(this).children("option:selected").text();
       if((selectedValue==3) || (selectedText == 'THERAPIST'))
        { 
            $("#modal_new_user_mobile").val('');
            $("#modal_new_user_mobile").prop('required',true);
            $(".TherapistMobile").show();
        }
        else
        { 
          $("#modal_new_user_mobile").prop('required',false);
          $("#modal_new_user_mobile").val('');
          $(".TherapistMobile").hide(); 
        }
    });

    });

    /* Code added for edit user */
    $('#modal_editar_user').on('shown.bs.modal', function () {
       var selectEdeditValue = "";
       var selectEditedText  = "";
       if($("#modal_edit_user_mobile").hasClass("is-invalid"))
       {
         $('#modal_edit_user_mobile').removeClass('is-invalid');
       }
       
       selectEdeditValue     = $("#modal_edit_typeuser").children("option:selected").val();
       selectEditedText      = $("#modal_edit_typeuser").children("option:selected").text();
       console.log('Edit user '+ selectEditedText);
       if((selectEdeditValue == 3) || (selectEditedText == 'THERAPIST'))
       {
            //$("#modal_edit_user_mobile").val('');
            $("#modal_edit_user_mobile").prop('required',true);
            $(".TherapistEditMobile").show();
       }
        else
        { 
          $("#modal_edit_user_mobile").prop('required',false);
          //$("#modal_edit_user_mobile").val('');
          $(".TherapistEditMobile").hide(); 
        }

     $("#modal_edit_typeuser").change('on', function(){
        selectEdeditValue = $(this).children("option:selected").val();
        selectEditedText = $(this).children("option:selected").text();
       if((selectEdeditValue==3) || (selectEditedText == 'THERAPIST'))
        { 
            //$("#modal_edit_user_mobile").val('');
            $("#modal_edit_user_mobile").prop('required',true);
            $(".TherapistEditMobile").show();
        }
        else
        { 
          $("#modal_edit_user_mobile").prop('required',false);
          $("#modal_edit_user_mobile").val('');
          $(".TherapistEditMobile").hide(); 
        }
    });
});
        /* EndAdd Code 29_jan_20_swadha*/
         $('#modal_edit_medico').on('shown.bs.modal', function () {
           if($("#form_modal_edit_mobile_number").hasClass("is-invalid"))
           {
             $('#form_modal_edit_mobile_number').removeClass('is-invalid');
           }
       });

       $('#modal_new_medico').on('shown.bs.modal', function () {
           if($("#form_modal_mobile_number").hasClass("is-invalid"))
           {
             $('#form_modal_mobile_number').removeClass('is-invalid');
           }
       });
 });
</script>
