<script>
    if ('Navigator' == navigator.appName) document.forms[0].reset();
</script>
<div class="container-fluid">
    <!-- <div class="row reportes_show " id="reportes_menu">
        <div class="col mb-3">
            <div class="card">
                <div class="card-header p-2 blue lighten-3">
                    <label>PRODUCTS</label>
                </div>
                <div class="card-body text-center">
                    <div class="btn btn-primary mx-4" select-option-menu key="boton_productos">show </div>
                </div>
            </div>
        </div>
        <div class="col mb-3">
            <div class="card">
                <div class="card-header p-2 blue lighten-3">
                    <label>SUPPLIER</label>
                </div>
                <div class="card-body text-center">
                    <div class="btn btn-primary mx-4" select-option-menu key="boton_proveedores">show </div>
                </div>
            </div>
        </div>
    </div> -->







    <div class="row d-none" id="boton_productos">
        <div class="col-12">
            <div class="card">
                <div class="card-header p-2 blue lighten-3">
                    <div class="row">
                        <div class="col-12">
                            <label>PRODUCTS</label>
                            <div class="btn btn-primary btn-sm float-right" data-toggle="modal"
                                data-target="#modal_add_product"><i class="fas fa-plus"></i> ADD</div>
                        </div>
                    </div>
                </div>
                <div class="card-body table-responsive">
                    <table class="table table-striped table-sm table-bordered dataTable" id="t_productos"
                        style="width:100%;">
                        <thead>
                            <td>#IDPRODUCT</td>
                            <td>KEY</td>
                            <th>PRODUCT</th>
                            <th>PRICE</th>
                            <th>TAX</th>
                            <th>USER</th>
                            <th></th>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid d-none" id="boton_proveedores">
        <div class="row">
            <div class="col-10">
                <div class="card">
                    <div class="card-header p-2 blue lighten-3">
                        <div class="row">
                            <div class="col-12">

                                <div class="card-header p-2 blue lighten-3">
                                    <button type="button" class="btn btn-primary btn-sm float-right m-0"
                                        data-toggle="modal" data-target="#modal_add_providers">
                                        <i class="fas fa-user-plus"></i>ADD</button>SUPPLIERS</div>
                            </div>
                        </div>
                    </div>


                    <div class="card-body table-responsive">
                        <table class="table table-striped table-sm table-bordered dataTable" id="t_suppliers">
                            <thead>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Address</th>
                                <th>City</th>
                                <th>Contact</th>
                                <th>Mail</th>
                                <th>User</th>
                                <th></th>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid reportes_show" id="boton_compras">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header p-2 blue lighten-3">
                        <button type="button" class="btn btn-primary btn-sm float-right mb-0 mt-0" data-toggle="modal"
                        data-target="#modal_add_shoping">
                            <i class="fas fa-plus"></i>  PURCHASE
                        </button>
                        <button type="button" class="btn btn-primary btn-sm float-right mb-0 mt-0"
                        select-option-menu key="boton_productos">
                            <i class="fas fa-plus"></i>  PRODUCT
                        </button>
                        <button type="button" class="btn btn-primary btn-sm float-right mb-0 mt-0"
                        select-option-menu key="boton_proveedores">
                            <i class="fas fa-plus"></i>  SUPPLIER
                        </button>
                            SHOPING</div>
                    <div class="card-body table-responsive">
                        <table class="table table-striped table-sm table-bordered dataTable" id="t_pacientes" test>
                            <thead>
                                <th>ID</th>
                                <th>Folio</th>
                                <th>Provider Folio</th>
                                <th>Provider Serie</th>
                                <th>Amount</th>
                                <th>Tax</th>
                                <th>Discount</th>
                                <th>Payment method</th>
                                <th>Total</th>
                                <th></th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>123456</td>
                                    <td>123456</td>
                                    <td>132456</td>
                                    <td>$ 1234.56</td>
                                    <td>16 %</td>
                                    <td>16 %</td>
                                    <td>Cash</td>
                                    <td>Total</td>
                                    <td>
                                        <button type="button" class="btn btn-primary btn-sm">
                                            <i class="fas fa-list-ul fa-lg"></i>
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>123456</td>
                                    <td>123456</td>
                                    <td>132456</td>
                                    <td>$ 1234.56</td>
                                    <td>16 %</td>
                                    <td>16 %</td>
                                    <td>Cash</td>
                                    <td>Total</td>
                                    <td>
                                        <button type="button" class="btn btn-primary btn-sm">
                                            <i class="fas fa-list-ul fa-lg"></i>
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>123456</td>
                                    <td>123456</td>
                                    <td>132456</td>
                                    <td>$ 1234.56</td>
                                    <td>16 %</td>
                                    <td>16 %</td>
                                    <td>Cash</td>
                                    <td>Total</td>
                                    <td>
                                        <button type="button" class="btn btn-primary btn-sm">
                                            <i class="fas fa-list-ul fa-lg"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- MODALS PRODUCTS -->

<div class="modal fade" id="modal_add_product" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog mt-5" role="document">
        <div class="modal-content">
            <form id="form_add_product" class="needs-validation" novalidate>
                <div class="modal-header">
                    <h5 class="modal-title">NEW PRODUCT</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-12 py-2">
                        <label for="modal_add_product_key">Key</label>
                        <input type="text" class="form-control" placeholder="Key" aria-label="Key"
                            id="modal_add_product_key" name="modal_add_product_key" required>
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </div>
                    <div class="col-12 py-2">
                        <label for="modal_add_product_name">Name product</label>
                        <input type="text" class="form-control" placeholder="Name product" aria-label="Name product"
                            id="modal_add_product_name" name="modal_add_product_name" required>
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </div>
                    <div class="col-12 py-2">
                        <label for="modal_add_product_cost">Cost</label>
                        <input type="text" class="form-control" placeholder="Cost" aria-label="Cost"
                            id="modal_add_product_cost" name="modal_add_product_cost" autocomplete="off" required>
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </div>
                    <div class="col-12 py-2">
                        <label for="modal_add_product_tax">Tax</label>
                        <input type="text" class="form-control" id="modal_add_product_tax" name="modal_add_product_tax"
                            placeholder="Tax" autocomplete="off" required />
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" class="close" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>

            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="modal_edit_product" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog mt-5" role="document">
        <div class="modal-content">
            <form id="form_edit_product" class="needs-validation" novalidate>
                <div class="modal-header">
                    <h5 class="modal-title">EDIT PRODUCT</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-12 py-2">
                        <label for="modal_edit_product_key">Key</label>
                        <input type="text" class="form-control" placeholder="Key" aria-label="Key"
                            id="modal_edit_product_key" name="modal_edit_product_key" required>
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </div>
                    <div class="col-12 py-2">
                        <label for="modal_edit_product_name">Name product</label>
                        <input type="text" class="form-control" placeholder="Name product" aria-label="Name product"
                            id="modal_edit_product_name" name="modal_edit_product_name" required>
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </div>
                    <div class="col-12 py-2">
                        <label for="modal_edit_product_cost">Cost</label>
                        <input type="text" class="form-control" placeholder="Cost" aria-label="Cost"
                            id="modal_edit_product_cost" name="modal_edit_product_cost" autocomplete="off" required>
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </div>
                    <div class="col-12 py-2">
                        <label for="modal_edit_product_tax">Tax</label>
                        <input type="text" class="form-control" id="modal_edit_product_tax"
                            name="modal_edit_product_tax" placeholder="Tax" autocomplete="off" required />
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" class="close" data-dismiss="modal">
                        Cancel</button>
                    <button type="submit" class="btn btn-primary">Edit</button>
                </div>

            </form>
        </div>
    </div>
</div>

<!-- MODALS SUPPLIERS -->

<div class="modal fade" id="modal_add_providers" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog mt-5" role="document">
        <div class="modal-content">
            <form id="form_add_providers" class="needs-validation" novalidate>
                <div class="modal-header">
                    <h5 class="modal-title">NEW SUPPLIER</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-12 py-2">
                        <label for="modal_add_provider_nombre">Nombre</label>
                        <input type="text" class="form-control" placeholder="Nombre" aria-label="Nombre"
                            id="modal_add_provider_nombre" name="modal_add_provider_nombre" required>
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </div>
                    <div class="col-12 py-2">
                        <label for="modal_add_provider_direccion">Address</label>
                        <input type="text" class="form-control" placeholder="Name product" aria-label="Name product"
                            id="modal_add_provider_direccion" name="modal_add_provider_direccion" required>
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </div>
                    <div class="col-12 py-2">
                        <label for="modal_add_provider_city">City</label>
                        <input type="text" class="form-control" placeholder="City" aria-label="City"
                            id="modal_add_provider_city" name="modal_add_provider_city" autocomplete="off" required>
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </div>
                    <div class="col-12 py-2">
                        <label for="modal_add_provider_contacto">Contact</label>
                        <input type="text" class="form-control" placeholder="Contact" aria-label="Contact"
                            id="modal_add_provider_contacto" name="modal_add_provider_contacto" autocomplete="off"
                            required>
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </div>
                    <div class="col-12 py-2">
                        <label for="modal_add_provider_mail">E-Mail</label>
                        <input type="email" class="form-control" placeholder="E-Mail" aria-label="E-Mail"
                            id="modal_add_provider_mail" name="modal_add_provider_mail" autocomplete="off" required>
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" class="close" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="modal_edit_providers" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog mt-5" role="document">
        <div class="modal-content">
            <form id="form_edit_providers" class="needs-validation" novalidate>
                <div class="modal-header">
                    <h5 class="modal-title">EDIT SUPPLIER</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-12 py-2">
                        <label for="modal_edit_provider_nombre">Nombre</label>
                        <input type="text" class="form-control" placeholder="Nombre" aria-label="Nombre"
                            id="modal_edit_provider_nombre" name="modal_edit_provider_nombre" required>
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </div>
                    <div class="col-12 py-2">
                        <label for="modal_edit_provider_direccion">Address</label>
                        <input type="text" class="form-control" placeholder="Name product" aria-label="Name product"
                            id="modal_edit_provider_direccion" name="modal_edit_provider_direccion" required>
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </div>
                    <div class="col-12 py-2">
                        <label for="modal_edit_provider_city">City</label>
                        <input type="text" class="form-control" placeholder="City" aria-label="City"
                            id="modal_edit_provider_city" name="modal_edit_provider_city" autocomplete="off" required>
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </div>
                    <div class="col-12 py-2">
                        <label for="modal_edit_provider_contacto">Contact</label>
                        <input type="text" class="form-control" placeholder="Contact" aria-label="Contact"
                            id="modal_edit_provider_contacto" name="modal_edit_provider_contacto" autocomplete="off"
                            required>
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </div>
                    <div class="col-12 py-2">
                        <label for="modal_edit_provider_mail">Mail</label>
                        <input type="text" class="form-control" placeholder="Mail" aria-label="Mail"
                            id="modal_edit_provider_mail" name="modal_edit_provider_mail" autocomplete="off" required>
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </div>
                    <!-- <div class="col-12 py-2">
                        <label for="modal_edit_provider_user">User</label>
                        <input type="text" class="form-control" id="modal_edit_provider_user"
                            name="modal_edit_provider_user" placeholder="User" autocomplete="off" required />
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </div> -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" class="close" data-dismiss="modal">
                        Cancel</button>
                    <button type="submit" class="btn btn-primary">Edit</button>
                </div>

            </form>
        </div>
    </div>
</div>
<!-- MODALS SHOPING -->

<div class="modal fade" id="modal_add_shoping" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" style="overflow-y: scroll;"
    aria-hidden="true">
    <div class="modal-dialog modal-lg mt-5" role="document">
        <div class="modal-content">
            <form id="form_add_shoping" class="needs-validation" novalidate>
                <div class="modal-header">
                    <h5 class="modal-title">NEW PURCHASE</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body container">
                    <div class="form-row d-flex justify-content-between">
                        <div class="form-group col-md-5 row">
                            <label class="col-sm-2 text-right col-form-label"
                                for="modal_add_shoping_date">Fecha:</label>
                            <div class="col-sm-10">
                                <input type="date" class="form-control form-control-plaintext bg-white"
                                    id="modal_add_shoping_date" name='modal_add_shoping_date'>
                            </div>
                            <label class="col-sm-3 text-right col-form-label"
                                for="modal_add_shoping_supplier">Supplier:</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="modal_add_shoping_supplier" 
                                name='modal_add_shoping_supplier'>
                            </div>
                        </div>
                        <div class="form-group col-md-7 row">
                            <label class="col-sm-4 col-form-label text-right"
                                for="modal_add_shoping_folio_auto">Folio:</label>
                            <div class="col-sm-8 mb-2">
                                <input type="text" class="form-control bg-white"
                                    id="modal_add_shoping_folio_auto" name="modal_add_shoping_folio_auto">
                            </div>
                            <label class="col-sm-4 col-form-label text-right"
                                for="modal_add_shoping_folio_suplier">Supplier Folio:</label>
                            <div class="col-sm-8 d-flex align-items-center mb-2">
                                <input type="text" class="form-control bg-white"
                                    id="modal_add_shoping_folio_suplier" name="modal_add_shoping_folio_suplier">
                            </div>
                            <label class="col-sm-4 col-form-label text-right"
                                for="modal_add_shoping_supplier_serie">Supplier Serie:</label>
                            <div class="col-sm-8 d-flex align-items-center">
                                <input type="text" class="form-control bg-white"
                                    id="modal_add_shoping_supplier_serie" name="modal_add_shoping_supplier_serie">
                            </div>
                        </div>
                    </div>

                    <table class="table table-striped table-sm table-bordered dataTable"
                        style="width: inherit !important;" id="t_purchase_products">
                        <thead>
                            <th style="vertical-align: middle;">KEY</th>
                            <th style="vertical-align: middle;">PRODUCT</th>
                            <th style="vertical-align: middle;">QUANTITY</th>
                            <th style="vertical-align: middle;">PRICE</th>
                            <th style="vertical-align: middle;">AMOUNT</th>
                            <th style="vertical-align: middle;">TAX</th>
                            <th style="vertical-align: middle;text-align: center;">
                                <button id="add_product_onpurchase" type="button" class="btn btn-success btn-sm m-0">
                                    <i class="fas fa-plus"></i>
                                </button>
                            </th>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>

                    <div class="form d-flex justify-content-end">
                        <div class="form-group row m-0">
                            <label class="col-sm-4 col-form-label text-right pl-0 pr-0"
                                for="modal_add_shoping_import">Importe:</label>
                            <div class="col-sm-8 mb-2">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">$</span>
                                    </div>
                                    <input type="text" class="form-control bg-white"
                                        id="modal_add_shoping_import" name="modal_add_shoping_import" value="0">
                                </div>
                            </div>
                        </div>
                        <div class="form-group row  m-0">
                            <label class="col-sm-4 col-form-label text-right pl-0 pr-0"
                                for="modal_add_shoping_tax">Tax:</label>
                            <div class="col-sm-8 d-flex align-items-center mb-2">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">$</span>
                                    </div>
                                    <input type="text" class="form-control bg-white"
                                        id="modal_add_shoping_tax" name="modal_add_shoping_tax" value="0">
                                </div>
                            </div>
                        </div>
                        <div class="form-group row  m-0">
                            <label class="col-sm-4 col-form-label text-right pl-0 pr-0"
                                for="modal_add_shoping_discount">Discount:</label>
                            <div class="col-sm-8 d-flex align-items-center">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">$</span>
                                    </div>
                                    <input type="text" class="form-control bg-white"
                                        id="modal_add_shoping_discount" name="modal_add_shoping_discount" value="0">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form d-flex justify-content-end">
                        <div class="form-group row  m-0 align-items-center">
                            <label class="col-sm-4 col-form-label text-right pl-0 pr-0"
                                for="modal_add_shoping_payment_method">Payment method:</label>
                            <div class="col-sm-8">
                                <select class="form-control" id="modal_add_shoping_payment_method" id="modal_add_shoping_payment_method">
                                </select>
                            </div>
                        </div>
                        <div class="form-group row  m-0 align-items-center">
                            <label class="col-sm-4 col-form-label text-right pl-0 pr-0"
                                for="modal_add_shoping_total">Total:</label>
                            <div class="col-sm-8 d-flex mb-2">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">$</span>
                                    </div>
                                    <input type="text" readonly class="form-control bg-white"
                                        id="modal_add_shoping_total" name="modal_add_shoping_total" value="0">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" class="close" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>

            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="modal_show_products" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" style="overflow-y: scroll;"
    aria-hidden="true">
    <div class="modal-dialog modal-lg mt-5" role="document">
        <div class="modal-content">
            <form id="form_add_product" class="needs-validation" novalidate>
                <div class="modal-header">
                    <h5 class="modal-title">PRODUCTS</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table table-striped table-sm table-bordered dataTable" id="t_to_purchase_products"
                    style="width:100%;">
                        <thead>
                            <th>#IDPRODUCT</th>
                            <th>KEY</th>
                            <th>PRODUCT</th>
                            <th>PRICE</th>
                            <!-- <th>TAX</th>
                            <th>USER</th> -->
                            <th></th>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <!-- <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" class="close" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div> -->

            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="modal_edit_providers" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog mt-5" role="document">
        <div class="modal-content">
            <form id="form_edit_providers" class="needs-validation" novalidate>
                <div class="modal-header">
                    <h5 class="modal-title">EDIT SUPPLIER</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-12 py-2">
                        <label for="modal_edit_provider_nombre">Nombre</label>
                        <input type="text" class="form-control" placeholder="Nombre" aria-label="Nombre"
                            id="modal_edit_provider_nombre" name="modal_edit_provider_nombre" required>
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </div>
                    <div class="col-12 py-2">
                        <label for="modal_edit_provider_direccion">Address</label>
                        <input type="text" class="form-control" placeholder="Name product" aria-label="Name product"
                            id="modal_edit_provider_direccion" name="modal_edit_provider_direccion" required>
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </div>
                    <div class="col-12 py-2">
                        <label for="modal_edit_provider_city">City</label>
                        <input type="text" class="form-control" placeholder="City" aria-label="City"
                            id="modal_edit_provider_city" name="modal_edit_provider_city" autocomplete="off" required>
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </div>
                    <div class="col-12 py-2">
                        <label for="modal_edit_provider_contacto">Contact</label>
                        <input type="text" class="form-control" placeholder="Contact" aria-label="Contact"
                            id="modal_edit_provider_contacto" name="modal_edit_provider_contacto" autocomplete="off"
                            required>
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </div>
                    <div class="col-12 py-2">
                        <label for="modal_edit_provider_mail">Mail</label>
                        <input type="text" class="form-control" placeholder="Mail" aria-label="Mail"
                            id="modal_edit_provider_mail" name="modal_edit_provider_mail" autocomplete="off" required>
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </div>
                    <div class="col-12 py-2">
                        <label for="modal_edit_provider_user">User</label>
                        <input type="text" class="form-control" id="modal_edit_provider_user"
                            name="modal_edit_provider_user" placeholder="User" autocomplete="off" required />
                        <div class="invalid-feedback">Please fill out this field.</div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" class="close" data-dismiss="modal">
                        Cancel</button>
                    <button type="submit" class="btn btn-primary">Edit</button>
                </div>

            </form>
        </div>
    </div>
</div>

<script>
    egresos.ini();
</script>