<script>
    if ('Navigator' == navigator.appName) document.forms[0].reset();
</script>
<div class="container-fluid">
    <div class="row" id="show_invoice">
        <div class="col-xl-2" id="filters">
            <div class="card">
                <div class="card-header p-2 blue lighten-3">FILTERS</div>
                <div class="card-body">
                    <label for="clinica">Clinic</label>
                    <select class="browser-default custom-select mb-3" id="select_clinica"></select>
                    <label for="clinica">Therapist</label>
                    <select class="browser-default custom-select mb-3" id="select_medicos"></select>
                </div>
            </div>
        </div>
        <div class="col-xl-10" id="invoiceTable">
            <div class="card">
                <div class="card-header p-2 blue lighten-3">
                    <div class="row">
                        <div class="col-4">
                            INVOICE
                        </div>
                    </div>
                </div>
                <div class="card-body table-responsive">
                    <table class="table table-sm table-striped table-bordered dataTable" id="t_invoice">
                        <thead>
                            <td>#</td>
                            <th>Name</th>
                            <th>Clinic</th>
                            <th>Service</th>
                            <th>Therapist</th>
                            <th>Status</th>
                            <th></th>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row d-none" id="load_invoice">
        <div class="col-12 col-sm-12 col-md-12 col-lg-10 col-xl-8 offset-lg-1 offset-xl-3">

            <div class="card">
                <div class="card-header">
                    <button type="button" class="close" onclick="invoice.close_view_invoice();">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="card-body">

                    <div class="row">
                        <div class="col-4">
                            <img src="" id="logo_factura" style="width:300px;">
                        </div>
                        <div class="col-8 text-right">
                            <div class="contemporary-template__header__info">
                                <h2 class="wv-heading--title">INVOICE</h2>
                                <div class="wv-heading--subtitle">BN: <b id="medic_serie_invoice"></b></div>
                                <span><b>Quintero Psychotherapy professional corporation</b></span>

                                <div class="contemporary-template__header__info__address">
                                    1436 Royal York Rd.<br>
                                    Suite 401<br>
                                    Etobicoke,
                                    ON M9P3A7<br>
                                    Canada<br>
                                    <br>
                                    <b id="medic_folio_invoice"></b><br>
                                    <span class="wrappable">gerardoquintero.com<br></span>
                                </div>

                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-6">
                            <label style="color:#cfd8dc">BILLED TO</label><br>
                            <label>
                                <textarea id="cliente_name"></textarea></label><br>
                            
                            <!-- <label>
                                <button type="button" class="btn btn-primary btn-sm float-right m-0"
                                    onclick="invoice.add_new_client();"><i class="fas fa-user-plus"> Edit Client</i>
                                </button>
                            </label> -->
                            <br>
                            <label style="color:#cfd8dc">Client’s name</label><br>
                            <label><b id="paciente_name"></b></label><br>

                            <label style="color:#cfd8dc">State Invoice</label>
                            <select id="id_estado_factura" class="form-control input-sm mb-4 col-6"></select>
                        </div>
                        <div class="col-6 text-right table-responsive">
                            <table class="table table-sm ">
                                <tr>
                                    <td><b>Invoice Number:</b></td>
                                    <td id="id_invoice"></td>
                                </tr>
                                <tr>
                                    <td><b>Invoice Date:</b></td>
                                    <td id="date_invoice"></td>
                                </tr>
                                <tr>
                                    <td><b>Payment Due:</b></td>
                                    <td><b>$<span id="payment_due"></span></b></td>
                                </tr>
                                <tr>
                                    <td><b>Amount Due (CAD)</b></td>
                                    <td><b>$<span id="amount_due">$0,00</span></b></td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div class="row">
                        <table class="table">
                            <thead style="background-color:peru; color:white;">
                                <th>Items</th>
                                <th>Quantity</th>
                                <th>Price</th>
                                <th>Amount</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><b>Therapy session</b></td>
                                    <td><b>1</b></td>
                                    <td>$<span id="session_unit"></span></td>
                                    <td>$<span id="session_total"></span></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <th>Discount</th>
                                    <td><input type="text" id="invoice_discount" value=""></td>
                                    
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td><b>Subtotal:</b><br>Hst <b id="lb_importe"></b>% (78760 7928):</td>
                                    <td>$<span id="precio_subtotal_importe"></span><br>$<span
                                            id="precio_importe"></span></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <b>Total:</b><br>
                                        <div class="row">
                                            <div id="type_of_payment" class="col-6">Payment on August 8, 2019 using a:
                                            </div>
                                            <select class="form-control input-sm col-4 float-left"
                                                id="type_payment"></select>
                                        </div>


                                    </td>
                                    <td>$<span id="precio_total"></span><br>$<span id="precio_payment"></span></td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <th></th>
                                <th></th>
                                <th><b>Amount Due (CAD) :</b></th>
                                <th><b>$<span id="amount_total"></span></b></th>
                            </tfoot>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button class="btn btn-primary my-1 mx-4 p-2 px-4 float-right"
                                onclick="invoice.send_invoice()" id="btn_send_invoice" ><i
                                    class="fas fa-paper-plane"></i> Send</button>
                            <button class="btn btn-danger my-1 mx-4 p-2 px-4 float-right" 
                                onclick="invoice.donwload_invoice()" id="btn_download_invoice"><i class="fas fa-download"></i> Download</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal" id="modal_client" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog mt-5" role="document">
        <div class="modal-content">
            <form id="add_new_client" class="d-none">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">New Client</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-12 py-2">
                        <label for="alta_cita_paciente">Client Name</label>
                        <input type="text" class="form-control" placeholder="Client Name" aria-label="Client Name"
                            aria-describedby="button-addon2" id="modal_new_client_name" autocomplete="off" required>
                    </div>
                    <div class="col-12 py-2">
                        <label for="alta_cita_paciente">Birthday</label>
                        <input type="date" class="form-control" placeholder="Birthday" aria-label="Birthday"
                            aria-describedby="button-addon2" id="modal_new_client_date" autocomplete="off" required>
                    </div>
                    <div class="col-12 py-2">
                        <label for="alta_cita_paciente">Address</label>
                        <input type="text" class="form-control" placeholder="Address" aria-label="Address"
                            aria-describedby="button-addon2" id="modal_new_client_address" autocomplete="off" required>
                    </div>
                    <div class="col-12 py-2">
                        <label for="alta_cita_paciente">City</label>
                        <select class="browser-default custom-select mb-3" placeholder="City" id="modal_new_client_city"
                            required></select>

                    </div>
                    <div class="col-12 py-2">
                        <label for="alta_cita_paciente">Phone Number</label>
                        <input type="text" class="form-control" placeholder="Phone Number" aria-label="Phone Number"
                            aria-describedby="button-addon2" id="modal_new_client_phone" autocomplete="off" required>
                    </div>
                    <div class="col-12 py-2">
                        <label for="alta_cita_paciente">E-mail</label>
                        <input type="email" class="form-control" placeholder="E-mail" aria-label="E-mail"
                            aria-describedby="button-addon2" id="modal_new_client_email" autocomplete="off" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                        onclick="invoice.cancel_new_client()">Cancel</button>
                    <button type="submit" class="btn btn-primary">Save Client</button>
                </div>

            </form>
            <form id="select_cliente">
                <div class="modal-header">
                    <h5 class="modal-title">Client</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12 mb-4">
                                <button class="btn btn-md btn-success m-0 px-3 py-2 z-depth-0 waves-effect float-right"
                                    type="button" id="button-addon2" onclick="invoice.btn_add_new_client();"><i
                                        class="fas fa-user-plus"></i> New Client</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 py-2">
                        <label for="input_select_cliente">Client Name</label>
                        <input type="text" class="form-control" placeholder="Client Name" aria-label="Client Name"
                            aria-describedby="button-addon2" id="input_select_cliente" autocomplete="off">
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary" disabled="disabled">Save Client</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    (function () {
        invoice.ini();
    })()
</script>