<script>
    if ('Navigator' == navigator.appName) document.forms[0].reset();
</script>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header p-2 blue lighten-3">
                <div class="row">
                    <div class="col-12">
                        <label>Fax Send</label>
                    </div>
                </div> 
            </div>
            <div class="statusMsg"></div>
            <div class="card-body table-responsive">
                <form id="fupForm" enctype="multipart/form-data">
				    
				    <div class="form-group">
				        <label for="fax-number">Fax Number</label>
				        <input type="number" class="form-control" id="fax_number" name="fax_number" placeholder="Enter fax number" required />
				    </div>
				    <div class="form-group">
				        <label for="file">File</label>
				        <input type="file" class="form-control" id="file" name="fax_file" required />
				    </div>
				    <input type="submit" name="submit" class="btn btn-success submitBtn" value="SUBMIT"/>
				</form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
	$(document).ready(function(e){
    // Submit form data via Ajax
     $("#fupForm").submit(function (e) {
        e.preventDefault();
        console.log('form submitted')
        var data = new FormData();
            //Form data
            var form_data = $('#fupForm').serializeArray();
            $.each(form_data, function (key, input) {
                data.append(input.name, input.value);
            });

            //File data
            var file_data = $('input[name="fax_file"]')[0].files;
            
            for (var i = 0; i < file_data.length; i++) {
                data.append("fax_file[]", file_data[i]);
            }
            
        $.ajax({
            type: 'POST',
            url: '/app/views/fax_controller.php',
            data: data,
            dataType: 'json',
            contentType: false,
            cache: false,
            processData:false,
            beforeSend: function(){
                $('.submitBtn').attr("disabled","disabled");
                $('#fupForm').css("opacity",".5");
            },
            success: function(response){ 
                $('.statusMsg').html('');
                if(response.status == 1){
                    console.log('if');
                    $('#fupForm')[0].reset();
                    $('.statusMsg').html('<p class="alert alert-success">'+response.message+'</p>');
                }else{
                    console.log('else');
                    $('.statusMsg').html('<p class="alert alert-danger">'+response.message+'</p>');
                }
                $('#fupForm').css("opacity","");
                $(".submitBtn").removeAttr("disabled");
            },
            error: function(error) {
                console.log(error);
            }
        });
    });
});
</script>