<script>
    if ('Navigator' == navigator.appName) document.forms[0].reset();
</script>
<!-- Start your project here-->
<div style="height: 80vh">
    <div class="flex-center ">
        <div class="card col-12 col-sm-8 col-lg-8 col-xl-4">

            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-12 col-sm-6 col-lg-8 col-xl-8">
                    <div class="card-body form">
                        <!-- Header -->
                        <h3 class="mt-4 text-center">Sign in</h3>
                        <!-- Grid row -->
                        <div class="row p-4">
                            <form class="text-center col-xl-12 col-lg-12 col-sm-12 co-12" id="form_login">
                                <!-- Email -->
                                <input type="text" id="usuario" class="form-control mb-4" placeholder="User Name"
                                    required="required" autocomplete="off">
                                <!-- Password -->
                                <input type="password" id="password" class="form-control" placeholder="Password"
                                    required="required" autocomplete="off" aria-describedby="passwordForget">
                                <!-- Sign in button -->
                                <button class="btn btn-info btn-block mt-4" type="submit">Sign in</button>
                                <button type="button" onclick="ini.ini_load_view.recoveraccount()" class="btn btn-link p-0">I forgot my password</button>
                                <!-- Register -->
                                <!-- code added by Swadha at 29_jan_2020 -->
                                 <button type="button" onclick="ini.ini_load_view.OTPLogin()" class="btn btn-link p-0">Login With OTP</button>
                                  <!-- End code added by Swadha at 29_jan_2020 -->
                            </form>

                        </div>
                        <!-- Grid row -->
                    </div>
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-12 col-sm-6 col-lg-4 col-xl-4 white-text text-center">
                    <!-- <div class="col-12 col-sm-6 col-lg-4 col-xl-4 blue darken-3 white-text text-center"> -->
                    <!-- img src="assets/img/sitio/logo_hospital.png" style="width: 150px; margin-top:30%"> -->
                    <!-- <img src="assets\img\sitio\logohaab.png" style="width: 110px; margin-top:30%"> -->
                    <img src="/imagenes/cleverc-8.png" style="width: 110px; margin-top:30%">
                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </div>
    </div>
</div>
<script>
    login.ini();
</script>
<!-- Start your project here-->