<script>
    if ('Navigator' == navigator.appName) document.forms[0].reset();
</script>
<div class="container-fluid">
    <div class="row">
        <div id="filtros" class="col-2">
            <div class="card">
                <div class="card-header p-2 blue lighten-3">
                    <label>Filters</label>
                </div>
                <div class="card-body">
                    <label for="clinica">Clinic</label>
                    <select class="browser-default custom-select mb-3" id="select_sucursales"></select>
                </div>
            </div>
        </div>
        <div class="col-10">
            <div class="card">
                <div class="card-header p-2 blue lighten-3"><button type="button"
                        class="btn btn-primary btn-sm float-right m-0" onclick="medicos.modal_new_medico();"><i
                            class="fas fa-user-plus"></i> ADD</button>Therapist</div>
                <div class="card-body table-responsive">
                    <table class="table table-striped table-sm table-bordered dataTable" id="t_table_medicos">
                        <thead>
                            <td>#</td>
                            <th>Name</th>
                            <th>Bussines</th>
                            <th>College and Registration Number</th>
                            <th></th>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class='modal fade' id='modal_new_medico' tabindex='-1' role='dialog' aria-labelledby='myModalLabel'
    aria-hidden='true'>
    <div class='modal-dialog modal-notify modal-lg' role='document'>
        <!--Content-->
        <form id='modal_form_new_medico'>
            <div class='modal-content'>
                <!--Header-->
                <div class='modal-header blue darken-3'>
                    <p class='heading lead'>Add Therapist</p>
                    <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
                        <span aria-hidden='true' class='white-text'>&times;</span>
                    </button>
                </div>
                <!--Body-->
                <div class='modal-body'>
                    <div class="row">
                        <div class="col-12">
                            <label>Name</label>
                            <input type="text" id="form_modal_medico_name" name="form_modal_medico_name"
                                class="form-control mb-4" placeholder="Name">
                        </div>
                        <div class="col-6">
                            <label>Bussines Name</label>
                            <input type="text" id="form_modal_medico_bussines_name"
                                name="form_modal_medico_bussines_name" class="form-control mb-4"
                                placeholder="Bussines Name">
                        </div>
                        <div class="col-6">
                            <label>College and Registration Number</label>
                            <input type="text" id="form_modal_medico_trecord" name="form_modal_medico_trecord"
                                class="form-control mb-4" placeholder="College and Registration Number">
                            </select>
                        </div>
                        <div class="col-6">
                            <label>Therapist User Name</label>
                            <input type="text" id="form_modal_medico_usuario" name="form_modal_medico_usuario"
                                class="form-control mb-4" placeholder="Therapist User Name">
                            </select>
                        </div>
                        <div class="col-6">
                            <label>GST/Business number</label>
                            <input type="text" id="form_modal_medico_serie" name="form_modal_medico_serie"
                                class="form-control mb-4" placeholder="Clain Number">
                            </select>
                        </div>
                        <div class="col-6">
                            <label>Invoice Number</label>
                            <input type="number" id="form_modal_medico_folio" name="form_modal_medico_folio"
                                class="form-control mb-4" placeholder="Invoice Number">
                            </select>
                        </div>
                        <div class="col-6">
                            <label>Image</label>
                            <div class="btn btn-default btn-sm float-right" key-new-picture>new Picture</div>
                            <input type="file" class="d-none" id="new_pickture_input" name="new_pickture_input"
                                accept="image/*"><br>

                            <img id="form_modal_medico_image" name="form_medico_image" class="img-thumbnail"
                                width="200px" src="../files/personal_logo/default.jpg">
                        </div>
                    </div>

                </div>
                <!--Footer-->
                <div class='modal-footer'>
                    <button type='button' class='btn btn-secondary' data-dismiss='modal'>Close</button>
                    <button type='submit' class='btn btn-primary' disabled="disabled">Save Therapist</button>
                </div>
            </div>
        </form>
        <!--/.Content-->
    </div>
</div>
<div class='modal fade' id='modal_edit_medico' tabindex='-1' role='dialog' aria-labelledby='myModalLabel'
    aria-hidden='true'>
    <div class='modal-dialog modal-notify modal-lg' role='document'>
        <!--Content-->
        <form id='modal_form_edit_medico'>
            <div class='modal-content'>
                <!--Header-->
                <div class='modal-header blue darken-3'>
                    <p class='heading lead'>Edit Therapist</p>
                    <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
                        <span aria-hidden='true' class='white-text'>&times;</span>
                    </button>
                </div>
                <!--Body-->
                <div class='modal-body'>
                    <div class="row">
                        <div class="col-12">
                            <label>Name</label>
                            <input type="text" id="form_modal_edit_medico_name" name="form_modal_edit_medico_name"
                                class="form-control mb-4" placeholder="Name">
                        </div>
                        <div class="col-6">
                            <label>Bussines Name</label>
                            <input type="text" id="form_modal_edit_medico_bussines_name"
                                name="form_modal_edit_medico_bussines_name" class="form-control mb-4"
                                placeholder="Bussines name" required="required">
                        </div>
                        <div class="col-6">
                            <label>College and Registration Number</label>
                            <input type="text" id="form_modal_edit_medico_trecord" name="form_modal_edit_medico_trecord"
                                class="form-control mb-4" placeholder="College and Registration Number"
                                required="required">
                            </select>
                        </div>
                        <div class="col-6">
                            <label>Therapist User Name</label>
                            <input type="text" id="form_modal_edit_medico_usuario" name="form_modal_edit_medico_usuario"
                                class="form-control mb-4" placeholder="Therapist User Name" required="required">
                            </select>
                        </div>
                        <div class="col-6">
                            <label>GST/Business number</label>
                            <input type="text" id="form_modal_edit_medico_serie" name="form_modal_edit_medico_serie"
                                class="form-control mb-4" placeholder="Clain Number" required="required">
                            </select>
                        </div>
                        <div class="col-6">
                            <label>Invoice Number</label>
                            <input type="number" id="form_modal_edit_medico_folio" name="form_modal_edit_medico_folio"
                                class="form-control mb-4" placeholder="Invoice Number" required="required">
                            </select>
                        </div>
                        <div class="col-6">
                            <label>Image</label>
                            <div class="btn btn-default btn-sm float-right" key-change-picture>Change Picture</div>
                            <input type="file" class="d-none" id="change_pickture_input" name="change_pickture_input"
                                accept="image/*"><br>

                            <img id="form_modal_edit_medico_image" name="form_edit_medico_image" class="img-thumbnail"
                                width="200px" src="">
                        </div>
                    </div>

                </div>
                <!--Footer-->
                <div class='modal-footer'>
                    <button type='button' class='btn btn-secondary' data-dismiss='modal'>Close</button>
                    <button type='submit' class='btn btn-primary'>Save Therapist</button>
                </div>
            </div>
        </form>
        <!--/.Content-->
    </div>
</div>
<script>
    medicos.ini();
</script>