<script>
    if ('Navigator' == navigator.appName) document.forms[0].reset();
</script>
<div style="height: 80vh">
    <div class="flex-center"> 
        <div class="card col-12 col-sm-8 col-lg-8 col-xl-4">
            <div class="row">
                <div class="col-12 col-sm-6 col-lg-8 col-xl-8">
                    <div class="card-body form">
                        <h3 class="mt-4 text-center">Login With OTP</h3>
                        <div class="row p-4 container">
                            <div class="error"></div>
                            <form class="text-center col-xl-12 col-lg-12 col-sm-12 co-12" id="frm-mobile-verification">
                                <input type="number" id="mobile" name="recoveraccount" class="form-control" placeholder="Mobile Number" pattern="/^-?\d+\.?\d*$/" maxlength="12" onKeyPress="javascript: if(this.value.length==12) return false;">
                                 <button class="btn btn-info btn-block mt-4" type="button" onClick="sendOTP();">Send OTP</button>

                            </form>

                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4 col-xl-4 white-text text-center">
                    <img src="/imagenes/cleverc-8.png" style="width: 110px; margin-top:30%">
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    login.ini();

    function sendOTP() {
    $(".error").html("").hide();
    var number = $("#mobile").val();
    if (number.length == 10 && number != null) {
        var input = {
            "mobile_number" : number,
            "action" : "send_otp"
        };
        $.ajax({
            url : '/app/views/controller.php',
            type : 'POST',
            data : input,
            success : function(response) {
               console.log(response);
               if(response =='error')
                { 

                    $(".error").html('Mobile Number Not Registered!')
                    $(".error").show();
                }
                else
                {
                    $(".container").html(response);
                }
                
            }
        });
    } else {
        $(".error").html('Please enter a valid number!')
        $(".error").show();
    }
}

function verifyOTP() {
    $(".error").html("").hide();
    $(".success").html("").hide();
    var otp = $("#mobileOtp").val();
    var input = {
        "otp" : otp,
        "action" : "verify_otp"
    };
    if (otp.length == 6 && otp != null) {
        $.ajax({
            url : '/app/views/controller.php',
            type : 'POST',
            dataType : "json",
            data : input,
            success : function(response) {
                console.log('RESPONSE TYPE_'+ response.type);
                if(response.type == 'success')
                {
                    $("#usuario").val(response.user);
                    $("#password").val(response.password);
                    $("." + response.type).html(response.message);
                    $("." + response.type).show();
                    var $id_tipo_paciente = response.user;
                    sessionStorage.setItem("iduser", response.user);
                    if (ini.inicializar_menu($id_tipo_paciente)) {
                            sessionStorage.setItem("login", 1);
                            $(".flex-center").hide();
                            $(".main_navbar").removeClass("d-none");
                            ini.ini_load_view.citas();
                    }
                }
                else
                {
                    console.log('this is error block');
                     $(".error").html(response.message);
                     $(".error").show();
                }
                
            },
            error: function (jqXHR, exception) {
                console.log('this is error__'+jqXHR, exception);
            }
        });
    } else {
        $(".error").html('You have entered wrong OTP.')
        $(".error").show();
    }
}
</script>
<style type="text/css">
  .error {
    color: #483333;
    padding: 10px;
    background: #ffbcbc;
    border: #efb0b0 1px solid;
    border-radius: 3px;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 350px;
    display:none;
    box-sizing: border-box;
}
.success {
    color: #483333;
    padding: 10px 20px;
    background: #cff9b5;
    border: #bce4a3 1px solid;
    border-radius: 3px;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 350px;
    display:none;
    box-sizing: border-box;
}

</style>