<script>
    if ('Navigator' == navigator.appName) document.forms[0].reset();
</script>
<div style="height: 80vh">
    <div class="flex-center ">
        <div class="card col-12 col-sm-8 col-lg-8 col-xl-4">
            <div class="row">
                <div class="col-12 col-sm-6 col-lg-8 col-xl-8">
                    <div class="card-body form">
                        <h3 class="mt-4 text-center">Recover Account</h3>
                        <div class="row p-4">
                            <form class="text-center col-xl-12 col-lg-12 col-sm-12 co-12" id="form_recoveraccount">
                                <input type="email" id="recoveraccount" name="recoveraccount" class="form-control" placeholder="Email"
                                    required="required" autocomplete="off" aria-describedby="recoveraccount">
                                <button class="btn btn-info btn-block mt-4" type="submit">Send</button>
                            </form>

                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4 col-xl-4 white-text text-center">
                    <img src="/imagenes/cleverc-8.png" style="width: 110px; margin-top:30%">
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    login.ini();
</script>