<script>
    if ('Navigator' == navigator.appName) document.forms[0].reset();
</script>
<div class="container-fluid">
    <div class="row reportes_show " id="reportes_menu">
        
        <!-- <div class="col mb-3">
            <div class="card">
                <div class="card-header p-2 blue lighten-3">
                    <label>INVOICE HISTORY</label>
                </div>
                <div class="card-body text-center">
                    <div class="btn btn-primary mx-4" select-option-menu key="reportes_issue_invoice">show </div>
                </div>
            </div>
        </div>
        <div class="col mb-3">
            <div class="card">
                <div class="card-header p-2 blue lighten-3">
                    <label>CLIENT HISTORY</label>
                </div>
                <div class="card-body text-center">
                    <div class="btn btn-primary mx-4" select-option-menu key="reportes_client_of_mobth">show </div>
                </div>
            </div>
        </div> -->
        <div class="col mb-3">
            <div class="card">
                <div class="card-header p-2 blue lighten-3">
                    <label>APPOINTMENT HISTORY</label>
                </div>
                <div class="card-body text-center">
                    <div class="btn btn-primary mx-4" select-option-menu key="reportes_appointment_month">show </div>
                </div>
            </div>
        </div>
        
           <div class="col mb-3" id="therapist_closed_invoice">
            <div class="card">
                <div class="card-header p-2 blue lighten-3">
                    <label>CLOSED INVOICE</label>
                </div>
                <div class="card-body text-center">
                    <div class="btn btn-primary mx-4" select-option-menu key="report_closed_invoice">show </div>
                </div>
            </div>
        </div>

        <div class="col mb-3" id="therapist_raised_invoice">
            <div class="card">
                <div class="card-header p-2 blue lighten-3">
                    <label>RAISED INVOICE</label>
                </div>
                <div class="card-body text-center">
                    <div class="btn btn-primary mx-4" select-option-menu key="report_raised_invoice">show </div>
                </div>
            </div>
        </div> 

        <div class="col mb-3" id="therapist_client_total_invoices">
            <div class="card">
                <div class="card-header p-2 blue lighten-3">
                    <label>CLIENT TOTAL INVOICES</label>
                </div>
                <div class="card-body text-center">
                    <div class="btn btn-primary mx-4" select-option-menu key="report_client_total_invoices">show </div>
                </div>
            </div>
        </div>
       
    </div>


    <div class="row reportes_show d-none" id="reportes_issue_invoice">
        <div class="col-12">
            <div class="card">
                <div class="card-header p-2 blue lighten-3">
                    <div class="row">
                        <div class="col-12">
                            <label>ISSUED INVOICES</label>
                            <div class="btn btn-danger btn-sm float-right" close_view_reportes><i
                                    class="fas fa-times"></i></div>
                        </div>
                    </div>
                </div>
                <div class="card-body table-responsive">
                    <table class="table table-striped table-sm table-bordered dataTable" id="t_reportes_issue_ivoice"
                        style="width:100%;">
                        <thead>
                            <td>#Folio</td>
                            <th>Fecha</th>
                            <th>Cliente</th>
                            <th>Total</th>
                            <th>Sucursal</th>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <div class="row reportes_show d-none" id="reportes_client_of_mobth">
        <div class="col-12">
            <div class="card">
                <div class="card-header p-2 blue lighten-3">
                    <div class="row">
                        <div class="col-12">
                            <label>CLIENTS OF THE MONTH</label>
                            <div class="btn btn-danger btn-sm float-right" close_view_reportes><i class="fas fa-times"></i></div>
                        </div>
                    </div>
                </div>
                <div class="card-body table-responsive">
                    <table class="table table-striped table-sm table-bordered dataTable" id="t_reportes_client_of_mobth"
                        style="width:100%;">
                        <thead>
                            <td>Nombre</td>
                            <th>Fecha</th>
                            <th>Sucursal</th>
                            <th>No_Citas</th>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

    <div class="row reportes_show d-none" id="reportes_appointment_month">
        <div class="col-12">
            <div class="card">
                <div class="card-header p-2 blue lighten-3">
                    <div class="row">
                        <div class="col-12">
                            <label>APPOINTMENT OF THE MONTH</label>
                            <div class="btn btn-danger btn-sm float-right" close_view_reportes><i class="fas fa-times"></i></div>
                        </div>
                    </div>
                </div>
                <div class="card-body table-responsive">
                    <table class="table table-striped table-sm table-bordered dataTable" id="t_reportes_client_of_month"
                        style="width:100%;">
                        <thead>
                            <td>Cita</td>
                            <th>Date</th>
                            <th>Client</th>
                            <th>Clinic</th>
                            <td>Service</td>
                            <th>Therapist</th>
                            <th>Status</th>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row reportes_show d-none" id="report_closed_invoice">
        <div class="col-12">
            <div class="card">
                <div class="card-header p-2 blue lighten-3">
                    <div class="row">
                        <div class="col-12">
                            <label>CLOSED INVOICE REPORT</label>
                            <div class="btn btn-danger btn-sm float-right" close_view_reportes><i class="fas fa-times"></i></div>
                        </div>
                    </div>
                </div>
                  
                <div class="card-body table-responsive">
                    <table class="table table-striped table-sm table-bordered dataTable" id="t_reportes_closed_invoice"
                        style="width:100%;">
                        <thead>
                            <th>Therapy Type</h>
                            <th># Sessions</th>
                            <th>Amount</th>
                            <th>Taxes</th>
                            <th>Total (Incl. taxes)</th>
                        </thead>
                        <tbody>

                        </tbody>
                         <tfoot>
                            <tr>
                                <th colspan="1" style="text-align:right">Total:</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="row">
                    <div class="col-2">
                        <div class="btn btn-primary float-right py-2 px-9" onclick="reports.closed_invoice_details(); ">DETAILLED PERIOD</div>
                    </div>
                </div>
            </div>
        </div>
     
    </div> 

     <div class="row reportes_show d-none" id="report_closed_invoice_details">
        <div class="col-12">
            <div class="card">
                <div class="card-header p-2 blue lighten-3">
                    <div class="row">
                        <div class="col-12">
                            <label>CLOSED INVOICE REPORT DETAILLED PERIOD</label>
                            <div class="btn btn-danger btn-sm float-right" close_view_reportes><i class="fas fa-times"></i></div>
                        </div>
                    </div>
                </div>
                <div class="card-header">
                    <div class="row">
                        <div class="col-12">
                            <input type="date" name="from_date" id="closed_from_date">
                            <input type="date" name="to_date" id="closed_to_date">
                            <button onclick="reports.closed_invoice_filter();">Filter</button>

                        </div>
                    </div>
                </div>
                <div class="card-body table-responsive">
                    <table class="table table-striped table-sm table-bordered dataTable" id="t_reportes_closed_invoice_details"
                        style="width:100%;">
                        <thead>
                            <th>Invoice</h>
                            <th>Date</th>
                            <th>Invoice paid date</th>
                            <th>Client’s name</th>
                            <th>Amount</th>
                            <th>Tax</th>
                            <th>Total (Incl. taxes)</th>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row reportes_show d-none" id="report_raised_invoice">
        <div class="col-12">
            <div class="card">
                <div class="card-header p-2 blue lighten-3">
                    <div class="row">
                        <div class="col-12">
                            <label>RAISED INVOICE REPORT</label>
                            <div class="btn btn-danger btn-sm float-right" close_view_reportes><i class="fas fa-times"></i></div>
                        </div>
                    </div>
                </div>
                <div class="card-body table-responsive">
                    <table class="table table-striped table-sm table-bordered dataTable" id="t_reportes_raised_invoice"
                        style="width:100%;">
                        <thead>
                            <th>Therapy Type</h>
                            <th># Sessions</th>
                            <th>Amount</th>
                            <th>Taxes</th>
                            <th>Total (Incl. taxes)</th>
                        </thead>
                        <tbody>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th colspan="1" style="text-align:right">Total:</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="row">
                    <div class="col-2">
                        <div class="btn btn-primary float-right py-2 px-9" onclick="reports.raised_invoice_details(); ">DETAILLED PERIOD</div>
                    </div>
                </div>
               
            </div>
        </div>
    </div>

    <div class="row reportes_show d-none" id="report_raised_invoice_details">
        <div class="col-12">
            <div class="card">
                <div class="card-header p-2 blue lighten-3">
                    <div class="row">
                        <div class="col-12">
                            <label>RAISED INVOICE REPORT DETAILLED PERIOD</label>
                            <div class="btn btn-danger btn-sm float-right" close_view_reportes><i class="fas fa-times"></i></div>
                        </div>
                    </div>
                </div>
                <div class="card-header">
                    <div class="row">
                        <div class="col-12">
                            <input type="date" name="from_date" id="from_date">
                            <input type="date" name="to_date" id="to_date">
                            <button onclick="reports.raised_invoice_filter();">Filter</button>

                        </div>
                    </div>
                </div>
                <div class="card-body table-responsive">
                    <table class="table table-striped table-sm table-bordered dataTable" id="t_reportes_raised_invoice_details"
                        style="width:100%;">
                        <thead>
                            <th>Invoice</h>
                            <th>Date</th>
                            <th>Invoice paid date</th>
                            <th>Client’s name</th>
                            <th>Amount</th>
                            <th>Tax</th>
                            <th>Total (Incl. taxes)</th>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row reportes_show d-none" id="report_client_total_invoices">
        <div class="col-12">
            <div class="card">
                <div class="card-header p-2 blue lighten-3">
                    <div class="row">
                        <div class="col-12">
                            <label>CLIENT TOTAL INVOICES REPORT</label>
                            <div class="btn btn-danger btn-sm float-right" close_view_reportes><i class="fas fa-times"></i></div>
                        </div>
                    </div>
                </div>
                <div class="card-body table-responsive">
                    <table class="table table-striped table-sm table-bordered dataTable" id="t_reportes_client_total_invoices"
                        style="width:100%;">
                        <thead>
                            <th>Client's Name</h>
                            <th># Invoices</th>
                            <th>Amount</th>
                            <th>Taxes</th>
                            <th>Total (Incl. taxes)</th>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


</div>
<script>
    reports.ini();
</script>



