<script>
    if ('Navigator' == navigator.appName) document.forms[0].reset();
</script>
<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <div class="card">
                <div class="card-header p-2 blue lighten-3">
                    <label>Filters</label>
                </div>
                <div class="card-body">
                    <label for="clinica">Clinic</label>
                    <select class="browser-default custom-select mb-3" id="usuarios_option_sucursal"></select>
                </div>
            </div>
        </div>
        <div class="col-10">
            <div class="card">
                <div class="card-header p-2 blue lighten-3"><button type="button"
                        class="btn btn-primary btn-sm float-right m-0" onclick="usuarios.add_new_user();"><i
                            class="fas fa-user-plus"></i> ADD</button>Users</div>
                <div class="card-body table-responsive">
                    <table class="table table-striped table-sm table-bordered dataTable" id="t_usuarios">
                        <thead>
                            <th>Name</th>
                            <th>User Name</th>
                            <th>Clinic</th>
                            <th>User Type</th>
                            <th></th>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal" id="modal_add_new_user" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog mt-5" role="document">
        <div class="modal-content">
            <form id="form_add_users">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">New User</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-12 py-2">
                        <label for="alta_cita_paciente">Name and Last Name</label>
                        <input type="text" class="form-control" placeholder="Name and Last name"
                            aria-label="Name and Last Name" aria-describedby="button-addon2" id="modal_new_user_name"
                            name="modal_new_user_name" autocomplete="off" required>
                    </div>
                    <div class="col-12 py-2">
                        <label for="alta_cita_paciente">User Name</label>
                        <input type="text" class="form-control" placeholder="User Name" aria-label="User Name"
                            aria-describedby="button-addon2" id="modal_new_user_username" name="modal_new_user_username"
                            autocomplete="off" required>
                    </div>
                    <div class="col-12 py-2">
                        <label for="alta_cita_paciente">Passowrd</label>
                        <input type="password" class="form-control" placeholder="Password" aria-label="Password"
                            aria-describedby="button-addon2" id="modal_new_user_password" name="modal_new_user_password"
                            autocomplete="off" required>
                    </div>
                    <div class="col-12 py-2">
                        <label for="alta_cita_paciente">User Type</label>
                        <select class="browser-default custom-select mb-3" placeholder="type user"
                            id="modal_new_typeuser" name="modal_new_typeuser" required></select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" onclick="usuarios.cancel_new_user()">Cancel</button>
                    <button type="submit" class="btn btn-primary">Save User</button>
                </div>

            </form>
        </div>
    </div>
</div>
<div class="modal" id="modal_editar_user" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog mt-5" role="document">
        <div class="modal-content">
            <form id="form_editar_users">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit User</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col-12 py-2">
                        <label for="alta_cita_paciente">Name and Last Name</label>
                        <input type="text" class="form-control" placeholder="Name and Last Name"
                            aria-label="Name and Last Name" aria-describedby="button-addon2" id="modal_edit_user_name"
                            name="modal_edit_user_name" id="modal_edit_user_name" autocomplete="off" required>
                    </div>
                    <div class="col-12 py-2">
                        <label for="alta_cita_paciente">User Name</label>
                        <input type="text" class="form-control" placeholder="User Name" aria-label="User Name"
                            aria-describedby="button-addon2" id="modal_edit_user_username"
                            name="modal_edit_user_username" autocomplete="off" required>
                    </div>
                    <div class="col-12 py-2">
                        <label for="alta_cita_paciente">Password</label>
                        <input type="password" class="form-control" placeholder="Password" aria-label="Password"
                            aria-describedby="button-addon2" id="modal_edit_user_password"
                            name="modal_edit_user_password" autocomplete="off" required>
                    </div>
                    <div class="col-12 py-2">
                        <label for="alta_cita_paciente">User Type</label>
                        <select class="browser-default custom-select mb-3" placeholder="type user"
                            id="modal_edit_typeuser" name="modal_edit_typeuser" required></select>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-secondary">Cancel</button>
                    <button type="submit" class="btn btn-primary">Save User</button>
                </div>

            </form>
        </div>
    </div>
</div>

<script>
    usuarios.ini();
</script>